body{
    display: flex;
    align-items: center;
    justify-content: center;
}
ul{
    list-style: none;
    padding: 0;
}

button{
    font-size: 40px;
    border-radius: 10px;
    width: 160px;
    height: 100px;
    margin: 5px;

}

button:hover {
    background-color: gray;
}

#calcbody {
   display: flex; 
   flex-direction: column;
   justify-content: inherit;
   width: 800px;
}

#screen{
    width: inherit;
    height: 100px;
    font-size: 100px;
    border: 2px solid black;
    border-radius: 10px;
}

#buttons {
    
    display: flex;
}

#operators {
    text-align: end;
}
